<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navigation"></nav>
    <h3 th:text="${title}">Default</h3>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">MY GARDEN BOX</h5>
            <p class="card-text">Here are your plants!</p>
        </div>
        <form method="post" action="clear">
            <input type="submit" value="Clear Garden Box" />
        </form>
        <ul th:each="plant: ${plants}" class="list-group list-group-flush">
            <li th:value="${plant.id}" th:text="${plant.name}" class="list-group-item"></li>
        </ul>

    </div>

    <div class="d-flex justify-content-end">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Companion Plants</h5>
            </div>
            <ul th:each="companionPlant: ${companionPlants}" class="list-group list-group-flush">
                <li th:value="${companionPlant.id}" th:text="${companionPlant.name}" class="list-group-item"></li>
            </ul>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Plants To Avoid</h5>
            </div>
            <ul th:each="avoidedPlant: ${avoidedPlants}" class="list-group list-group-flush">
                <li th:value="${avoidedPlant.id}" th:text="${avoidedPlant.name}" class="list-group-item"></li>
            </ul>
        </div>
    </div>



</body>
</html>